{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block carousel %}
{% endblock carousel %}

{% block main %}

<div class="container mt-4 mb-3">
    <h3 class="text-center">{{ title }}</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
                {% for product in products %}
                <div class="col mb-4">
                    <div class="card h-100 shadow">
                        {% load static %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">{{ product.title }}</h6>
                        </div>
                        <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                            <p class="card-text mb-0">
                                <span class="product-price" data-price="{{ product.price }}" style="font-size: 1.2em; color: #8a2be2;">
                                    {{ product.price }} сум
                                </span>
                            </p>
                            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary btn-sm" style="background-color: #d8bfff; border-color: #d8bfff; color: #ffffff;"><i class="bi bi-cart3"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
</div>


{% endblock main %}